# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Editor/IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# PowerShell temp files
*.pssc
*.psrc

# Node modules
node_modules/

# Temp and log files
*.log
*.tmp
*.bak
